/* root styling */
#root {
  width: 100%;
  padding: 0;
  position: absolute;
  background-image: none;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  text-align: center;
  margin: auto;
  background-color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: left;
  font-size: 2rem;
}

input {
  border: none;
}

/* card display styling */

.img-card {
  min-width: 1200px;
  max-height: 25rem;
  border-radius: 1rem;
}

.background-bar {
  background-color: royalblue;
  width: 125rem;
  height: 15rem;
  padding-top: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(9, 10rem);
  gap: 1rem;
  margin-bottom: 1rem;
  border: 4px solid royalblue;
  border-radius: 8px;
  padding: 8px;
}

.container {
  max-width: fit-content;
  margin: auto;
}

.card-image {
  width: 10rem;
  border-radius: 8px;
  border: 1px solid black;
}

.card-image:hover {
  opacity: 0.5;
}

/* set image cards */
.set-card {
  display: grid;
  grid-template-columns: repeat(4, 21rem);
  gap: 1rem;
  padding: 8px;
}

/* Style for the expanded image overlay */
.expanded-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Style for the container holding the expanded image */
.expanded-image-container {
  max-width: 38rem;
  max-height: 42rem;
}

/* Style for the expanded image itself */
.expanded-image-container img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 1rem;
}


/* deck builder */
#deck-builder-bg {
  width: 1860px;
  height: 840px;
  background-image: url(../public/images/deckeditbackground.jpg);
  border: 1px solid black;
}

#filter-cards-db {
  width: 36%;
  font-size: 1rem;
  text-align: left;
  float: left;
  padding-inline: 4px;
  padding-left: 2rem;
}

#deck {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow-y: scroll;
  background-color: rgba(210, 180, 140, 0.658);
  border-radius: 4px;
  margin: 4px 4px 0 0;
  width: 60%;
  height: 45.5%;
  margin-top: 6px;
  float: right;
}

.deck-button {
  margin-top: 6px;
  padding-inline: 1rem;
  margin-inline: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  width: 5rem;
  background-color: royalblue;
  padding: 2px;
}

#cards-db {
  background-color: rgba(210, 180, 140, 0.658);
  overflow-y: scroll;
  border-radius: 4px;
  margin: 4px 4px 0 0;
  width: 99%;
  height: 48.5%;
  float: right;
  margin-top: 8px;
  padding-inline: 4px;
}

.checkbox-container {
  display: flex;
  gap: 8px;
  padding-top: 22.2rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.checkbox {
  color: white;
  height: 2rem;
  width: 20rem;
  border: none;
  border-radius: 4px;
}

.checkbox:focus {
  border: 2px solid white !important;
}

.deck-cards {
  margin: 1rem;
  width: 5rem;
  top: 0;
}

.deck-cards-btns {
  position: absolute;
  margin-bottom: 100rem;
}

.card-db {
  display: grid;
  grid-template-columns: repeat(15, 6rem);
  gap: 4px;
  border-radius: 8px;
  padding: 4px 0 0 20.5rem;
}

.card-image-db {
  width: 6rem;
  border-radius: 8px;
  border: 1px solid black;
}

.card-image-db:hover {
  opacity: 0.5;
}

.expanded-image-db {
  position: absolute;
  border: 1px solid black;
  border-radius: 1rem;
  left: 3.5rem;
  top: 34rem;
  width: 18rem;
}

/* buttons */

.button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1rem;
  min-width: 8rem;
  background-color: royalblue;
  padding: 8px;
}

.set-icon {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  min-width: 8rem;
  background-color: royalblue;
  padding: 4px 4px 4px 4px;
}

button:hover {
  background-color: rgba(255, 104, 3, 0.884);
  cursor: pointer;
}

.rarity-btn {
  color: white;
}

.set-btn {
  max-width: 20rem;
  height: 11rem;
}

/* navbar */

.site-title {
  font-size: 3rem;
}

.nav {
  color: black;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 1rem;
  gap: 2rem;
  padding: 1rem 1rem 1rem 0;
  padding-inline: 5rem;
}

@media (max-width: 1024px) {
  .nav {
    width: 100%;
    margin: auto;
  }
}

.nav ul {
  padding-inline: 4rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

@media (max-width: 440px) {
  .nav ul {
    display: none;
    font-size: 1.5rem;
    margin: auto;
  }
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  color: royalblue;
}

.nav li:hover {
  color: royalblue;
}

.rarity-links {
  display: flex;
  justify-content: space-between;
  padding-inline: 18rem;
  font-size: 1.5rem;
}

/* card icons */

#icons-background {
  height: 5rem;
  width: 1.5rem;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 1rem;
  border: 1px solid black;
}

.vertical-grid {
  display: grid;
  max-height: 1px;
  grid-template-rows: repeat(1fr, 1);
  position: relative;
  top: 1rem;
  right: 1.8rem;
}

.card-icons {
  height: 1.5rem;
  cursor: pointer;
}

#card-count {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

#count-container {
  border-radius: 2rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.836);
}

.inline {
  display: inline-flex;
}




.duplicate-card {
  margin-left: 1rem; /* Shift to the right by 1rem */
}