/* root styling */
#root {
  max-width: 1280px;
  margin: auto;
  padding: 0 ;
  text-align: center;
  background-image: none;
}

body {
  background-color: rgba(193, 209, 230, 0.548);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: left;
  font-size: 2rem;
}


.img-card {
  min-width: 1200px;
  max-height: 25rem;
  border-radius: 1rem;
}

/* card display styling */
.card {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  border: 4px solid royalblue;
  border-radius: 8px;
  padding: 8px;
}

.card-image {
  max-width: 10rem;
  border-radius: 8px;
}

.card-image:hover {
  opacity: 0.5;
}

/* set image cards */
.set-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 8px;
}

/* news elements */

.news-image {
  width: 15rem;
  height: 15rem;
}

.news-image:hover {
  opacity: 0.5;
}

/* Style for the expanded image overlay */
.expanded-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Style for the container holding the expanded image */
.expanded-image-container {
  max-width: 80%;
  max-height: 80%;
}

/* Style for the expanded image itself */
.expanded-image-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
}


/* buttons */

button {
  border: 2px solid black;
  border-radius: 2rem;
  font-size: 1rem;
  min-width: 8rem;
  background-color: slateblue;
  padding: 1rem;
}

button:hover {
  background-color: rgba(255, 104, 3, 0.884);
}

.rarity-btn {
  color: white;
}

.set-btn {
  max-width: 20rem;
}

/* navbar */

.site-title {
  font-size: 3rem;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 1rem;
  gap: 2rem;
  padding: 1rem 1rem 1rem 0;
  padding-inline: 5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  color: royalblue;
}

.nav li:hover {
  color: royalblue;
}

.rarity-links {
  display: flex;
  justify-content: space-between;
  padding-inline: 7rem;
  font-size: 1.5rem;
}